body {
   margin: 0;
   font-family: "Arial", "Helvetica", sans-serif;
   font-size: 9pt;
}

div#top {
   margin: 0;
   overflow: auto;
}

div#top div#logo {
   float: left;
   margin-top: 4px;
   width: 217px;
   height: 87px;
   background: url(/images/fdlogo.png) no-repeat;
}

div#info {
   float: right;
   margin: 1em;
}

div#info p {
   margin: 0;
   text-align: center;
}

div#bottom {
   height: 4em;
}

div#nav {
   height: 18pt;
   margin-bottom: 2em;
   background-color: #00a;
   border-bottom: 3px solid #acf;
}

div#nav ul {
   margin: 0;
   padding: 0 0 0 2em;
   list-style-type: none;
   height: 17pt;
}

div#nav ul li {
   float: left;
   line-height: 18pt;
}

div#nav ul li a {
   display: block;
   padding: 0 1em;
   color: white;
   text-decoration: none;
   font-weight: bold;
}

div#nav ul li a:hover, div#nav ul li a:active {
   color: #008;
   background-color: #acf;
}

div#clock {
   float: right;
   color: white;
   font-weight: bold;
   margin-top: -1.5em;
   margin-right: 3em;
}

div#content {
   position: absolute;
   left: 50%;
   width: 85%;
   margin: 0 -42.5%;
}

div#success-banner {
   border: 2px solid #0a0;
   background-color: #efe;
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAXElEQVQoU43Q0Q2AMAhF0ctuzuAIDuUInaG71bxgIza0yldDTh4U408Vmn26QpNZwxtRVzAgTixPHJCPVnMPKyTogXoJT5DDg8YW/l5BO43X8EbHE/Q+j3CS1JMv8+cdwhI0u8AAAAAASUVORK5CYII=);
   background-repeat: no-repeat;
   background-position: 1em 50%;
   padding: 1em 1em 1em 2.5em;
   font-size: 10pt;
   margin-bottom: 1em;
}

div.section {
   overflow: auto;
   border: 2px solid #00a;
   margin-bottom: 1.5em;
}

div.section h1 {
   border-bottom: 3px solid #acf;
   color: white;
   background-color: #00a;
   margin: 0;
   padding: 2pt;
   font-size: 10pt;
   font-weight: bold;
}

div.section-content h2 {
   background: #00a;
   color: white;
   font-weight: bold;
   font-size: 10pt;
   padding: 2pt;
   margin-top: 0;
   margin-bottom: 1em;
}

div.section div.section-content {
   padding: 1em;
}

li a:link, li a:visited {
   font-weight: bold;
   color: #00c;
   text-decoration: none;
}

li a:hover, li a:active {
   font-weight: bold;
   color: #00f;
   text-decoration: underline;
}

p a:link, p a:visited,
span a:link, span a:visited {
   background-color: #00a;
   color: white;
   text-decoration: none;
   padding: 0.25em 0.5em;
}

p a:hover, p a:active,
span a:hover, span a:active {
   background-color: #acf;
   color: #00a;
}

div.form label, div.form .false-label, div.form input {
   display: block;
   float: left;
   margin-bottom: 1em;
}

div.form label, div.form .false-label {
   text-align: right;
   line-height: 200%;
   padding-right: 16px;
   color: #00a;
}

div.form-row {
   clear: left;
   overflow: auto;
   padding-bottom: 0.5em;
   margin-bottom: 0.5em;
}

div.form-row .label {
   float: left;
   display: block;
   color: #00a;
   line-height: 200%;
   margin-right: 1.2em;
   text-align: right;
}

div.form-row .container {
   float: left;
   display: block;
}

div.form-break {
   height: 1.5em;
}

div.form-row .container span {
   line-height: 200%;
}

div.form-header {
   background: white;
   color: #008;
   border-bottom: 2px solid #008;
   font-weight: bold;
   padding: 2pt;
   margin-bottom: 1em;
}

textarea {
   font-family: "Courier New", monospace;
   font-size: 10pt;
}

.form-error {
   background-color: #fee;
}

.form-error-text {
   color: #f00;
   font-weight: bold;
   padding-left: 0.5em;
}

input, select {
   font-family: "Arial", "Helvetica", sans-serif;
   font-size: 9pt;
}

input.checkbox, input.radiobutton {
   position: relative;
   top: 2px;
   margin-bottom: 0.5em;
}

input.text, textarea {
   border: 1px solid #00a;
   padding: 4px;
   margin-bottom: 1px;
   box-shadow: 1px 1px 0 #acf;
}

input.text:focus, textarea:focus {
   outline: none;
}

select {
   border: 1px solid #00a;
   padding: 3px;
   margin-bottom: 1px;
   box-shadow: 1px 1px 0 #acf;
}

select:focus {
   outline: none;
}

.button, input.link {
   border: none;
   background-color: #00a;
   color: white;
   text-decoration: none;
   padding: 0.25em 0.5em;
}

.button:hover, input.link:hover {
   background-color: #acf;
   color: #00a;
}

div.toolbar {
   margin-bottom: 1.25em;
   overflow: auto;
}

div.toolbar p {
   margin: 0.3em 0 0 0;
}

table.data {
   border-collapse: collapse;
}

table.data tbody tr:nth-child(2n-1) {
   background: #fafafa;
}

table.data thead tr td {
   color: black;
   border-bottom: 2px solid #acf;
   font-weight: bold;
   padding: 4px;
}

table.data tbody tr td {
   padding: 4px;
}

table.data tbody tr.error td {
   background: #fee;
}

table.data tbody tr td.highlight {
   background: #dfd;
}

div.section .menu-help {
   float: left;
   width: 22em;
   margin: 0 0.5em;
}

div.section .menu-help h1 {
   background: none;
   color: #00a;
   border: none;
   padding: 0;
}

div.section .menu-help p {
   margin: 0.5em 0.5em 1em 0.5em;
   padding: 0;
}

span.permission {
   cursor: default;
   padding: 3px;
   margin: 3px 2px;
   font-size: 8pt;
   white-space: nowrap;
}

span.permission.allow {
   background: #cfc;
}

span.permission.deny {
   background: #fcc;
}

span.permission span.number {
   font-weight: bold;
   padding-right: 2px;
   color: black;
}

span.permission span.name {
   font-weight: normal;
   color: black;
}

div.product-container {
   overflow: auto;
}

div.product-wrapper {
   float: left;
   width: 25%;
   height: 135px;
}

div.product-display {
   margin: 0.5em;
}

div.product-display h1 {
   text-align: center;
   font-size: 12pt;
   font-weight: bold;
   margin: 0 0 0.3em 0;
}

div.product-display h2 {
   background: none;
   text-align: center;
   font-size: 10pt;
   font-weight: normal;
   margin: 0 0 0.5em 0;
   border: none;
   color: black;
}

div.product-display p {
   text-align: center;
   margin: 0;
}

div.product-display p.totalizer {
   font-weight: bold;
   font-size: 10pt;
}

.no-breaks {
   white-space: nowrap;
}

.center {
   text-align: center;
}

.tele {
   font-family: "Courier New", monospace;
   font-size: 9pt;
}

hr {
   color: #acf;
   height: 2px;
   margin: 0.5em 0;
   padding: 0;
   background-color: #acf;
   border: none;
}

.horizontal-scroll {
   overflow-x: scroll;
}

table.row-shading tbody tr:nth-child(2n-1) {
   background-color: #fafafa;
}

.checklistbox {
   border: 1px solid #00a;
   box-shadow: 1px 1px 0 #acf;
   padding: 0.25em;
   overflow-y: scroll;
   width: 30em;
}

table.tablesorter thead tr .tablesorter-header {
   background-image: url(/images/black/no-sort.gif);
   background-repeat: no-repeat;
   background-position: center right;
   cursor: pointer;
   background-color: #e1edff;
}

table.tablesorter thead tr .tablesorter-headerAsc {
   background-image: url(/images/black/asc.gif);
}

table.tablesorter thead tr .tablesorter-headerDesc {
   background-image: url(/images/black/desc.gif);
}

table.tablesorter thead tr .sorter-false {
   background-image: none;
}

td.min-cell {
   white-space: nowrap;
   width: 1%;
}

div.tank-box-separator {
   float: left;
   margin: 0;
   width: 1px;
   height: 100%;
   background: #acf;
}

div.tank-box-container {
   float: left;
   margin: 0 1em 1em 0;
   padding: 0.5em 0.5em 0.5em 1em;
   border-right: 1px solid #acf;
}

div.tank-box-container:last-child {
   border: none;
}

div.tank-box-container h4 {
   margin: 0;
   text-align: center;
   font-size: 11pt;
   font-weight: bold;
}

div.tank-box-container h3 {
   margin: 6pt 0 10pt 0;
   text-align: center;
   font-size: 9pt;
   font-weight: normal;
}

div.tank-box {
   float: right;
   width: 60px;
   height: 100px;
   background: url(/images/tanklines.png);
   background-position: 41px 50%;
   background-repeat: no-repeat;
}

div.tank-unfilled,
div.tank-filled {
   width: 16px;
   margin-left: 22px;
   margin-right: 22px;
   border: 1px solid #00a;
}

div.tank-filled {
   background: #00a;
}

div.light {
   color: #999;
}

table.tank-data {
   float: left;
   border-collapse: collapse;
   margin-top: 1em;
   margin-bottom: 1em;
}

table.tank-data tr td {
   font-size: 8pt;
   padding-top: 0.25em;
   padding-bottom: 0.25em;
}

table.tank-data tr:nth-child(2n-1) {
   background: #fcfcfc;
}

table.tank-data tr td:first-child {
   padding-right: 0.55em;
   text-align: right;
   color: #008;
   width: 50%;
   font-weight: bold;
}

table.tank-data tr td:last-child {
   padding-left: 0.3em;
   text-align: left;
   width: 50%;
}

