body {
   font-family: "Tahoma", "Helvetica", sans-serif;
   font-size: 10pt;
   margin: 0;
}

div#top {
   margin: 1em 2em 1em 1em;
   overflow: auto;
}

div#top div#logo {
   float: left;
   width: 217px;
   height: 87px;
   background: url(/images/fdlogo.png) no-repeat;
}

div#top div#info {
   float: right;
   margin-top: 0.15em;
}

div#bottom {
   height: 4em;
}

div#info p {
   margin: 0;
   text-align: center;
   line-height: 125%;
}

div#nav {
   height: 31px;
   margin-bottom: 3em;
   background: url(/images/nav.png);
   background-repeat: repeat-x;
}

div#nav ul {
   padding: 0 0 0 3em;
   margin: 0;
   list-style-type: none;
   height: 31px;
   overflow: auto;
}

div#nav ul li {
   float: left;
   line-height: 31px;
   font-size: 10pt;
   font-weight: bold;
   text-transform: uppercase;
}

div#nav ul li a {
   display: block;
   padding: 0 1.2em;
   color: black;
   text-decoration: none;
}

div#nav ul li a:link, div#nav ul li a:visited {
}

div#nav ul li a:hover, div#nav ul li a:active {
   color: white;
   background: url(/images/nav-lite.png);
   background-repeat: repeat-x;
}

div#content {
   position: absolute;
   left: 50%;
   width: 70%;
   margin: 0 -35%;
}

div.section h1 {
   border-bottom: 1px solid #c40000;
   color: #c40000;
   margin: 0;
   padding: 2pt;
   font-size: 11pt;
   font-weight: bold;
}

div.section h2 {
   border-bottom: 1px solid #0000c4;
   color: #0000c4;
   margin: 0;
   padding: 2pt;
   font-size: 11pt;
   font-weight: bold;
}

div.section-content {
   margin: 1em;
}

div.product-wrapper {
   float: left;
   width: 25%;
   height: 135px;
}

div.product-display {
   margin: 0.5em;
}

div.product-display h1 {
   color: #008;
   text-align: center;
   font-size: 12pt;
   font-weight: bold;
   margin: 0 0 0.3em 0;
}

div.product-display h2 {
   text-align: center;
   font-size: 10pt;
   font-weight: normal;
   margin: 0 0 0.5em 0;
   border: none;
   color: black;
}

div.product-display p {
   text-align: center;
   margin: 0;
}

div.product-display p.totalizer {
   font-weight: bold;
   font-size: 10pt;
}

p a:link, p a:visited,
span a:link, span a:visited {
   color: blue;
   text-decoration: none;
}

p a:hover, p a:active,
span a:hover, span a:active {
   color: red;
}

p.raw {
   margin: 0;
}

div.form label, div.form .false-label, div.form input {
   display: block;
   float: left;
   margin-bottom: 1em;
}

div.form label, div.form .false-label {
   text-align: right;
   text-transform: uppercase;
   font-size: 8pt;
   line-height: 200%;
   padding-right: 18px;
   color: #008;
}

div.form br {
   clear: left;
}

div.info-table {
}

div.info-table div.label, div.info-table div.text {
   display: block;
   float: left;
   margin-bottom: 0.6em;
}

div.info-table div.label {
   width: 17em;
   text-align: right;
   text-transform: uppercase;
   font-size: 8pt;
   padding-right: 18px;
   line-height: 26px;
   color: #008;
}

div.info-table div.text {
   line-height: 24px;
   margin-right: 18px;
}

div.info-table br {
   clear: left;
}

span.error {
   color: #f00;
}

strong {
   font-weight: bold;
}

table.data {
   border-collapse: separate;
}

table.data thead tr td {
   color: #008;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 8pt;
   padding: 4px;
   border-bottom: 1px solid #c40000;
}

table.data tbody tr td {
   vertical-align: top;
   padding: 4px;
   border-bottom: 1px solid #fcc;
}

table.data thead tr td.no-border {
   border: none;
}

table.data tbody tr.error td {
   background: #fee;
}

td.highlight {
   background: #efe;
}

.center {
   text-align: center;
}

.rjust {
   text-align: right;
}

.ljust {
   text-align: left;
}

div.form-row {
   clear: left;
   overflow: auto;
   margin-bottom: 1em;
}

div.form-row .label {
   float: left;
   display: block;
   font-size: 8pt;
   text-transform: uppercase;
   color: #008;
   line-height: 200%;
   margin: 0 1.2em 0 0;
   text-align: right;
}

div.form-row .container {
   float: left;
   display: block;
}

div.form-break {
   height: 1.5em;
}

div.form-header {
   border-bottom: 1px solid #008;
   color: #c40000;
   margin: 0 0 1em 0;
   padding: 2pt;
   font-size: 10pt;
   font-weight: bold;
}

span.form-error {
   font-weight: bold;
   margin-left: 0.8em;
   color: #f00;
}

div.form-row .container br {
   line-height: 200%;
}

p.form {
   margin: 1.5em 1em;
}

span.form-row {
   line-height: 150%;
}

textarea {
   font-family: "Consolas", "Courier New", monospace;
   font-size: 10pt;
}

textarea.form-error {
   background-color: #fee;
}

input.checkbox {
   position: relative;
   top: 2px;
}

input.link {
   background: transparent;
   border: none;
   outline: none;
   cursor: pointer;
   margin: 0;
   padding: 4px 0;
   text-decoration: none;
   color: blue;
   font-family: "Tahoma", "Helvetica", sans-serif;
   font-size: 9pt;
}

input.link:hover {
   color: red;
}

input.link:focus {
   outline: none;
}

span.tele {
   font-family: "Courier New", "Consolas", monospace;
   font-size: 11pt;
}

input.text {
   border: 1px solid #aaa;
   padding: 3px;
   margin: 1px;
   border-radius: 2px;
}

input.form-error {
   background-color: #fee;
}

input.text:focus {
   outline: none;
   border-color: #444;
}

select {
   border: 1px solid #aaa;
   padding: 1px;
   margin: 1px;
   border-radius: 2px;
}

select:focus {
   outline: none;
   border-color: #444;
}

.button {
	-moz-box-shadow: inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow: inset 0px 1px 0px 0px #cf866c;
	box-shadow: inset 0px 1px 0px 0px #cf866c;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background: -moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background: -webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background: -o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background: -ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color: #d0451b;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #942911;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
   font-family: "Tahoma", "Helvetica", sans-serif;
   font-weight: normal;
   font-size: 9pt;
	padding: 4px 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #854629;
}

.button: hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background: -moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background: -webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background: -o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background: -ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color: #bc3315;
}

.button: active {
	position: relative;
	top: 1px;
}

input.button:focus {
   outline: none;
}

div.toolbar {
   margin: 2em 0;
   overflow: auto;
}

span.permission {
   cursor: default;
   padding: 3px;
   margin: 3px;
   font-size: 8pt;
   white-space: nowrap;
}

span.permission.allow {
   background: #cfc;
}

span.permission.deny {
   background: #fcc;
}

span.permission span.number {
   font-weight: bold;
   padding-right: 2px;
   color: black;
}

span.permission span.name {
   display: none;
   font-weight: normal;
   color: black;
}

span.permission:hover span.name {
   display: inline;
}

table.tablesorter thead tr .tablesorter-header {
   background-image: url(/images/black/no-sort.gif);
   background-repeat: no-repeat;
   background-position: center right;
   cursor: pointer;
}

table.tablesorter thead tr .tablesorter-headerAsc {
   background-image: url(/images/black/asc.gif);
}

table.tablesorter thead tr .tablesorter-headerDesc {
   background-image: url(/images/black/desc.gif);
}

table.tablesorter thead tr .sorter-false {
   background-image: none;
}

div.horizontal-scroll {
   overflow: scroll;
}

.menu-help {
   float: left;
   width: 22em;
   margin-left: 1em;
}

div.section .menu-help h1 {
   border: none;
   font-size: 9pt;
   color: #c40000;
   margin: 0 0 0.5em 0;
   padding: 0;
}

div.section .menu-help p {
   margin: 0.1em 0 0.5em 0.5em;
   padding: 0;
}

.no-breaks {
   white-space: nowrap;
}

div#status {
   clear: both;
   overflow: auto;
}

